@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    background-color: #FBEED8;
}

h1{
    color: #1F5B25;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

#home h1{
    color: white;
}
.card-title{
    color: #1F5B25;
    text-align: center;
    font-variant: small-caps;
}

.card{
    border: 2px solid #1F5B25;
}

.navbar{
    background-color: #1F5B25;
}

.banner{
    background-image: url('../img/banner.jpg');
    height: 400px;
    background-size: cover;
    background-position: center center;
    
}

.ikon{
    width: 30px;
}

footer{
    background-color: #1F5B25;
    color: white;
}

footer li{
    list-style-type: none;
}

footer li>img{
    margin-right: 15px;
    
}

#home{
    background-image: url('../img/homebg-min.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#home .intro{
    color: white;
    height: 100vh;
}

#home .intro .col-md-8{
    background-color: rgba(0,0,0,0.4);
}

hr{
    width: 50%;    
    margin: auto;
}
.modal-header, .modal-footer{
    background-color: rgb(209,190,154);
}
.modal-body{
    background-color: #FBEED8;
}
.modal-title{
    color: #1F5B25;
}
a{
    text-decoration: none;
}
.card:hover{
    box-shadow: 0px 0px 5px #1F5B25;
}
.card img{
    height: 257px;
}
.blog-img{
    border: 3px solid #1F5B25;
    border-radius: 15px;
    width: 400px;
}
h2{
    color: #1F5B25;
}
.sorkizart{
    text-align: justify;
}